{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}



{% block body %}


<!-- Main content -->
		<section class="content">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h3 class="page-title">Campaign Category Percentage</h3>
                        <div class="d-xl-inline-block align-items-center d-none">
                            <nav>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
                                    <li class="breadcrumb-item" aria-current="page">e-Commerce</li>
                                    <li class="breadcrumb-item active" aria-current="page">add</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <div class="right-title">
                        <div class="d-flex mt-10 justify-content-end">
							<div class="d-md-flex mr-20 ml-10 d-none">
								<div class="chart-text mr-10">
									<h6 class="mb-0"><small>THIS MONTH</small></h6>
									<h4 class="mt-0 text-primary">$12,125</h4>
								</div>
								<div class="spark-chart">
									<div id="thismonth"><canvas width="60" height="35" style="display: inline-block; width: 60px; height: 35px; vertical-align: top;"></canvas></div>
								</div>
							</div>
							<div class="d-md-flex ml-10 d-none">
								<div class="chart-text mr-10">
									<h6 class="mb-0"><small>LAST YEAR</small></h6>
									<h4 class="mt-0 text-danger">$22,754</h4>
								</div>
								<div class="spark-chart">
									<div id="lastyear"><canvas width="60" height="35" style="display: inline-block; width: 60px; height: 35px; vertical-align: top;"></canvas></div>
								</div>
							</div>
						</div>
                    </div>
                </div>
            </div>

			<div class="row">
			  <div class="col-12">
				<div class="box">
				  <div class="box-body">
						<table id="productorder" class="table table-hover no-wrap product-order dataTable no-footer" data-page-size="10" role="grid" aria-describedby="productorder_info">

							<thead>
								<tr role="row">
								    
									<th class="sorting_asc" tabindex="0" aria-controls="productorder" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Customer: activate to sort column descending">
										Chose Campaign
									</th>
									
									
								</tr>
							</thead>
							<tbody>
							    
							    


							{% for active_cam in all_campaign_list %}
							<tr role="row" class="odd">
								<td><a href="{% url 'cam_cat' active_cam.id %}">{{active_cam}}</a></td>
							</tr>
							{% endfor %}


							</tbody>
						</table>
						
						
					
				  </div>
			  </div>
		  </div>

		</section>
		<!-- /.content -->
		
		


{% endblock %}
