{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}



{% block body %}
<style>
    .divScroll {
    overflow:scroll;
    height:500px;
    }
</style>

		<!-- Main content -->
		<section class="content">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h3 class="page-title">Add new categories</h3>
                        <div class="d-xl-inline-block align-items-center d-none">
                            <nav>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
                                    <li class="breadcrumb-item" aria-current="page">e-Commerce</li>
                                    <li class="breadcrumb-item active" aria-current="page">add</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <div class="right-title">
                        <div class="d-flex mt-10 justify-content-end">
							<div class="d-md-flex mr-20 ml-10 d-none">
								<div class="chart-text mr-10">
									<h6 class="mb-0"><small>THIS MONTH</small></h6>
									<h4 class="mt-0 text-primary">$12,125</h4>
								</div>
								<div class="spark-chart">
									<div id="thismonth"><canvas width="60" height="35" style="display: inline-block; width: 60px; height: 35px; vertical-align: top;"></canvas></div>
								</div>
							</div>
							<div class="d-md-flex ml-10 d-none">
								<div class="chart-text mr-10">
									<h6 class="mb-0"><small>LAST YEAR</small></h6>
									<h4 class="mt-0 text-danger">$22,754</h4>
								</div>
								<div class="spark-chart">
									<div id="lastyear"><canvas width="60" height="35" style="display: inline-block; width: 60px; height: 35px; vertical-align: top;"></canvas></div>
								</div>
							</div>
						</div>
                    </div>
                </div>
            </div>

			<div class="row">
			  <div class="col-12">
				<div class="box">
					<div class="box-header with-border">
					  <h4 class="box-title">Add Category</h4>
						<div class="mt-3">
								{% if messages %}

								<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
								  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
									<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
								  </symbol>
								  <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
									<path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
								  </symbol>
								  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
									<path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
								  </symbol>
								</svg>

								{% for i in messages %}
								<div class="alert alert-success d-flex align-items-center" role="alert">
								  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
								  <div>
									&nbsp;&nbsp;&nbsp;&nbsp;{{i}}
								  </div>
								</div>
								{% endfor %}
								{% endif %}
							</div>

					</div>
				  <div class="box-body">
					<form method="POST" enctype="multipart/form-data">{% csrf_token %}
						<div class="row">
							<div class="col-md-6">
								{{form_categories | crispy }}
							</div>
							<div class="col-md-6">

							</div>
						</div>

						<div class="form-actions mt-10">
							<button type="submit" class="btn btn-rounded btn-primary"> <i class="fa fa-check"></i> Save</button>
<!--							<button type="button" class="btn btn-rounded btn-danger">Cancel</button>-->
						</div>
					</form>
				  </div>

				<div class="box-body p-5 bg-secondary"></div>

				<div class="box-body p-5 divScroll">
					<table class="table">
					  <thead class="thead-light">
						<tr>
						  <th>
							  <div class="form-check">
								  <input class="form-check-input" type="checkbox" value="" id="cat_checkbox_all">
								  <label class="form-check-label" for="flexCheckDefault">

								  </label>
								</div>
						  </th>
						  <th scope="col">Category Name</th>

						  <th scope="col">Edit</th>
						  <th scope="col">Delete</th>
						</tr>
					  </thead>
					  <tbody>
					  {% for all_categories in get_all_categories %}
						<tr>
						  <th scope="row">
							  <div class="form-check">
								  <input class="form-check-input" type="checkbox" value="" id="cat_checkbox_one">
								  <label class="form-check-label" for="flexCheckDefault1">

								  </label>
								</div>
						  </th>
						  <td>{{all_categories.Category_Name}}</td>

						  <td><a href="{% url 'edited_catagory_dashboard' all_categories.id %}" class="btn btn-primary"> <i class="fa fa-edit" style="font-size:24px"></i></a></td>
						  <td><a href="{% url 'delete_catagory_dashboard' all_categories.id %}" class="btn btn-primary"><i class="fa fa-trash" style="font-size:24px;color:red"></i></a></td>

						</tr>

					  {% endfor %}

					  </tbody>
					</table>



				</div>
				</div>
			  </div>
		  </div>



			<div class="row">
			  <div class="col-12">
				<div class="box">
					<div class="box-header with-border">
					  <h4 class="box-title">About Subcategory 1</h4>
					</div>
				  <div class="box-body">
					<form method="POST"> {% csrf_token %}
						{{ form_subcategories | crispy }}
<!--						<div class="row">-->
<!--							<div class="col-md-6">-->
<!--								<div class="form-group">-->
<!--								  <label class="font-weight-700 font-size-16">Category Name</label>-->
<!--								  <input type="text" class="form-control" placeholder="Product Name">-->
<!--								</div>-->
<!--							</div>-->

<!--							<div class="col-md-6">-->
<!--								<div class="form-group">-->
<!--								  <label class="font-weight-700 font-size-16">Slug</label>-->
<!--								  <input type="text" class="form-control" placeholder="Slug">-->
<!--								</div>-->
<!--							</div>-->
<!--							<div class="col-12">Category Deccription</div>-->
<!--							<div class="col-md-9 ">-->
<!--								<div class="form-group">-->


<!--									<textarea rows="4" cols="50"></textarea>-->

<!--								</div>-->
<!--							</div>-->

<!--							<div class="dataTables_length col-md-3 col" id="Bulk_Action">-->
<!--								<label><span class="text-bold text-primary">Parent Cetagory</span>-->
<!--									<select name="productorder_length" aria-controls="productorder" class="form-control form-control-sm text-success">-->
<!--										<option value="10">None</option>-->
<!--										<option value="10">Honda</option>-->
<!--										<option value="25">Bajaj</option>-->
<!--										<option value="50">HP</option>-->


<!--									</select>-->
<!--			&lt;!&ndash;											aekhane lekha jabe &ndash;&gt;-->
<!--								</label>-->
<!--							</div>-->
<!--						</div>-->






						<div class="form-actions mt-10">
							<button type="submit" class="btn btn-rounded btn-primary"> <i class="fa fa-check"></i> Save</button>
<!--							<button type="button" class="btn btn-rounded btn-danger">Cancel</button>-->
						</div>
					</form>
				  </div>

				<div class="box-body p-5 bg-secondary"></div>

				<div class="box-body p-5 divScroll">
					<table class="table">
					  <thead class="thead-light">
						<tr>
						  <th>
							  <div class="form-check">
								  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
								  <label class="form-check-label" for="flexCheckDefault">

								  </label>
								</div>
						  </th>
						  <th scope="col">Category</th>
						  <th scope="col">Subcategory 1</th>

						  <th scope="col">Edit</th>
						  <th scope="col">Delete</th>
						</tr>
					  </thead>
					  <tbody>
					  {% for all_subcategories in get_all_subcategories_1 %}
						<tr>
						  <th scope="row">
							  <div class="form-check">
								  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
								  <label class="form-check-label" for="flexCheckDefault1">

								  </label>
								</div>
						  </th>
						  <td>{{all_subcategories.Category.Category_Name}}</td>
						  <td>{{all_subcategories.Subcategory_1}}</td>

						  <td><a href="{% url 'edited_subcategories_1_dashboard' all_subcategories.id %}" class="btn btn-primary"><i class="fa fa-edit" style="font-size:24px"></i></a></td>
						  <td><a href="{% url 'delete_subcategories_1_dashboard' all_subcategories.id %}" class="btn btn-primary"><i class="fa fa-trash" style="font-size:24px;color:red"></i></a></td>

						</tr>
					  {% endfor %}

					  </tbody>
					</table>



				</div>
				</div>
			  </div>
		  </div>


			<div class="row">
			  <div class="col-12">
				<div class="box">
					<div class="box-header with-border">
					  <h4 class="box-title">About Subcategory 2</h4>
					</div>
				  <div class="box-body">
					<form method="POST"> {% csrf_token %}
						{{ form_subcategories_2 | crispy }}


						<div class="form-actions mt-10">
							<button type="submit" class="btn btn-rounded btn-primary"> <i class="fa fa-check"></i> Save</button>

						</div>
					</form>
				  </div>

				<div class="box-body p-5 bg-secondary"></div>

				<div class="box-body p-5 divScroll">
					<table class="table">
					  <thead class="thead-light">
						<tr>
						  <th>
							  <div class="form-check">
								  <input class="form-check-input" type="checkbox" value="" >
								  <label class="form-check-label" for="flexCheckDefault">

								  </label>
								</div>
						  </th>
						  <th scope="col">Category</th>
						  <th scope="col">Subcategory 1</th>
						  <th scope="col">Subcategory 2</th>

						  <th scope="col">Edit</th>
						  <th scope="col">Delete</th>
						</tr>
					  </thead>
					  <tbody>
					  {% for all_subcategories2 in get_all_subcategories_2 %}
						<tr>
						  <th scope="row">
							  <div class="form-check">
								  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
								  <label class="form-check-label" for="flexCheckDefault1">

								  </label>
								</div>
						  </th>
						  <td>{{all_subcategories2.Subcategory_1.Category.Category_Name}}</td>
						  <td>{{all_subcategories2.Subcategory_1.Subcategory_1}}</td>
						  <td>{{all_subcategories2.Subcategory_2}}</td>

						  <td><a href="{% url 'edited_subcategories_2_dashboard' all_subcategories2.id %}" class="btn btn-primary"><i class="fa fa-edit" style="font-size:24px"></i></a></td>
						  <td><a href="{% url 'delete_subcategories_2_dashboard' all_subcategories2.id %}" class="btn btn-primary"><i class="fa fa-trash" style="font-size:24px;color:red"></i></a></td>

						</tr>
					  {% endfor %}

					  </tbody>
					</table>



				</div>
				</div>
			  </div>
		  </div>

		</section>
		<!-- /.content -->


{% endblock %}