{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}



{% block body %}
<!-- Main content -->
		<section class="content">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h3 class="page-title">Add new products</h3>
                        <div class="d-xl-inline-block align-items-center d-none">
                            <nav>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
                                    <li class="breadcrumb-item" aria-current="page">e-Commerce</li>
                                    <li class="breadcrumb-item active" aria-current="page">add</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <div class="right-title">
                        <div class="d-flex mt-10 justify-content-end">
							<div class="d-md-flex mr-20 ml-10 d-none">
								<div class="chart-text mr-10">
									<h6 class="mb-0"><small>THIS MONTH</small></h6>
									<h4 class="mt-0 text-primary">$12,125</h4>
								</div>
								<div class="spark-chart">
									<div id="thismonth"><canvas width="60" height="35" style="display: inline-block; width: 60px; height: 35px; vertical-align: top;"></canvas></div>
								</div>
							</div>
							<div class="d-md-flex ml-10 d-none">
								<div class="chart-text mr-10">
									<h6 class="mb-0"><small>LAST YEAR</small></h6>
									<h4 class="mt-0 text-danger">$22,754</h4>
								</div>
								<div class="spark-chart">
									<div id="lastyear"><canvas width="60" height="35" style="display: inline-block; width: 60px; height: 35px; vertical-align: top;"></canvas></div>
								</div>
							</div>
						</div>
                    </div>
                </div>
            </div>

			<div class="row">
			  <div class="col-12">
				<div class="box">
					<div class="box-header with-border">
					  {% if messages %}

								<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
								  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
									<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
								  </symbol>
								  <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
									<path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
								  </symbol>
								  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
									<path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
								  </symbol>
								</svg>

								{% for i in messages %}
								<div class="alert alert-success d-flex align-items-center" role="alert">
								  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
								  <div>
									&nbsp;&nbsp;&nbsp;&nbsp;{{i}}
								  </div>
								</div>
								{% endfor %}
								{% endif %}
					</div>
				  <div class="box-body">
					<form action="{% url 'dashbord_add_new_products' %}" id="product_save_form" method="POST" enctype="multipart/form-data"> {% csrf_token %}
						<div class="form-body">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
									  <label class="font-weight-700 font-size-16">Product Name</label>
									  <input type="text" class="form-control" placeholder="Product Name" name="Product_name" required>
									</div>
								</div>
								<!--/span-->
								<div class="col-md-6">
									<div class="form-group">
									   <label class="font-weight-700 font-size-16">SKU</label>
									   <input type="text" class="form-control" placeholder="" name="SKU">
									</div>
								</div>
								
								
								<div class="col-md-12">
									<label>TYPE OF PRODUCTS: </label>
									<select name="TYPE_OF_PRODUCTS" style="width: 800px; height:35px;">

										
										<option value="Simple Product">Simple Product</option>
										<option value="Variable Product">Variable Product</option>
									 	<option value="Virtual Product">Virtual Product</option>

									</select>

								</div>
								
								
								<!--/span-->
							</div>
							<!--/row-->
							<!--/row-->
<!--							<div class="row">-->
<!--								<div class="col-md-6">-->
<!--									<div class="form-group">-->
<!--										<label class="font-weight-700 font-size-16">Category</label>-->
<!--										<select class="form-control" data-placeholder="Choose a Category" tabindex="1">-->
<!--											<option value="Category 1">Motor bick</option>-->
<!--											<option value="Category 2">Mobile</option>-->
<!--											<option value="Category 3">computer</option>-->
<!--											<option value="Category 4">TV</option>-->
<!--										</select>-->
<!--									</div>-->
<!--								</div>-->
<!--								&lt;!&ndash;/span&ndash;&gt;-->
<!--								<div class="col-md-6">-->
<!--									<div class="form-group">-->
<!--										<label class="font-weight-700 font-size-16">Status</label>-->
<!--										<div class="radio-list">-->
<!--											<label class="radio-inline p-0 mr-10">-->
<!--												<div class="radio radio-info">-->
<!--													<input type="radio" name="radio" id="radio1" value="option1">-->
<!--													<label for="radio1">Published</label>-->
<!--												</div>-->
<!--											</label>-->
<!--											<label class="radio-inline">-->
<!--												<div class="radio radio-info">-->
<!--													<input type="radio" name="radio" id="radio2" value="option2">-->
<!--													<label for="radio2">Draft</label>-->
<!--												</div>-->
<!--											</label>-->
<!--										</div>-->
<!--									</div>-->
<!--								</div>-->
<!--								&lt;!&ndash;/span&ndash;&gt;-->
<!--							</div>-->
							<!--/row-->
							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										<label class="font-weight-700 font-size-16">MRP Price</label>
										<div class="input-group">
											<div class="input-group-addon">&#2547;</div>
											<input type="number" class="form-control" name="MRP_Price" placeholder="Type integer value" required> </div>
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<label class="font-weight-700 font-size-16">Cost Price</label>
										<div class="input-group">
											<div class="input-group-addon">&#2547;</div>
											<input type="number" class="form-control" name="Cost_Price" placeholder="Type integer value" required> </div>
									</div>
								</div>
								<!--/span-->
								<div class="col-md-4">
									<div class="form-group">
										<label class="font-weight-700 font-size-16">Discount Price</label>
										<div class="input-group">
											<div class="input-group-addon"><i class="ti-cut"></i></div>
											<input type="number" class="form-control" name="Discount_Price" placeholder="Type integer value"> </div>
									</div>
								</div>
								<!--/span-->
							</div>

							
							{{ form_product.media }}
							{{ form_product|crispy }}
							

							<div class="form-group">
								<label class="form-label">Category</label>
								<select name="Category_list" id="Category_list" class="form-control form-control form-control-lg" onchange="select_cat()" required>
									<option selected="selected" value="">Choose Category</option>
									{% for get_all_cat in get_all_categories %}
									<option value="{{get_all_cat.id}}">{{get_all_cat.Category_Name}}</option>
									{% endfor %}

								</select>
							</div>


							<div id="show_Subategory_list2" style="margin-top:30px; margin-bottom:35px;"></div>

							<div id="show_Subategory_list3" style="margin-top:30px; margin-bottom:35px;"></div>


							<div id="show_Subategory_list">

							</div>



							<div class="row">
						        <div class="col-md-12">
							        <div class="form-group">
        								<label class="font-weight-700 font-size-16">Product quentity</label>
        								<input type="text" class="form-control" name="product_quentity" placeholder="Type product quentity">
        							</div>
        						</div>
							</div>

							<div class="row">
								<div class="col-md-12">
									<!--<div class="form-group">-->
									<!--	<label class="font-weight-700 font-size-16">Product Description</label>-->
									<!--	<textarea class="form-control p-20" rows="4" name="Product_Description" placeholder="Discription About The Product"></textarea>-->
									<!--</div>-->
									
								</div>
							</div>
							<!--/row-->
							<div class="row" style="margin-top:40px;">
								<div class="col-md-6 bg-success">
									<div class="form-group">
										<label class="font-weight-700 font-size-16">Meta Title</label>
										<input type="text" class="form-control" name="Meta_Title"> </div>
								</div>
								<!--/span-->
								<div class="col-md-6 bg-success">
									<div class="form-group">
										<label class="font-weight-700 font-size-16">Meta Keyword</label>
										<input type="text" class="form-control" name="Meta_Keyword"> </div>
								</div>
								<!--/span-->
								<div class="col-md-3 border border-primary">
									<h4 class="box-title mt-20">Upload Image No.1</h4>
									<div class="product-img text-left">
										<img src="{% static '' %}admin_deshboard_static/images/product/product-9.png" alt="">
										<div class="btn btn-rounded btn-info mb-20">
<!--											<span>Upload Anonther Image</span>-->
                                            <input type="file" class="upload" name="Prod_Image">
										</div>
<!--										<button class="btn btn-rounded btn-success">Edit</button>-->
<!--										<button class="btn btn-rounded btn-danger">Delete</button>-->
									</div>
								</div>

								<div class="col-md-3 border border-primary">
									<h4 class="box-title mt-20">Upload Image No.2</h4>
									<div class="product-img text-left">
										<img src="{% static '' %}admin_deshboard_static/images/product/product-9.png" alt="">
										<div class="btn btn-rounded btn-info mb-20">
<!--											<span>Upload Anonther Image</span>-->
                                            <input type="file" class="upload" name="Product_Image_2">
										</div>
<!--										<button class="btn btn-rounded btn-success">Edit</button>-->
<!--										<button class="btn btn-rounded btn-danger">Delete</button>-->
									</div>
								</div>

								<div class="col-md-3 border border-primary">
									<h4 class="box-title mt-20">Upload Image No.3</h4>
									<div class="product-img text-left">
										<img src="{% static '' %}admin_deshboard_static/images/product/product-9.png" alt="">
										<div class="btn btn-rounded btn-info mb-20">
<!--											<span>Upload Anonther Image</span>-->
                                            <input type="file" class="upload" name="Product_Image_3">
										</div>
<!--										<button class="btn btn-rounded btn-success">Edit</button>-->
<!--										<button class="btn btn-rounded btn-danger">Delete</button>-->
									</div>
								</div>


								<div class="col-md-3 border border-primary">
									<h4 class="box-title mt-20">Upload Image No.4</h4>
									<div class="product-img text-left">
										<img src="{% static '' %}admin_deshboard_static/images/product/product-9.png" alt="">
										<div class="btn btn-rounded btn-info mb-20">
<!--											<span>Upload Anonther Image</span>-->
                                            <input type="file" class="upload" name="Product_Image_4">
										</div>
<!--										<button class="btn btn-rounded btn-success">Edit</button>-->
<!--										<button class="btn btn-rounded btn-danger">Delete</button>-->
									</div>
								</div>





							</div>


							<div class="row bg-secondary text-light">
								<div class="col-md-12">

									<h4 class="box-title mt-40">Tags (Add new tag)</h4>

									<div class="table-responsive">
										<table class="table no-border td-padding">
											<tr>
												<td>Name <input type="text" name="s" placeholder="Search" class="w-p100"></td>
												<td></td>
												<td></td>
											</tr>

											<tr>
												<td>Slug<input type="text" name="s" placeholder="Search" class="w-p100"></td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td>Description</td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td><textarea rows="4" cols="50"></textarea></td>
												<td></td>
												<td></td>
											</tr>

										</table>
									</div>
								</div>
							</div>

						</div>
						<div class="form-actions mt-10">
							<input type="checkbox" id="star" name="make_feature_product">
							<label for="star"> Make This Product Featured !!</label><br>
						</div>
						<div class="form-actions mt-10">
							<input type="hidden" name="suncat1" id="suncat1">
							<input type="hidden" name="suncat2" id="suncat2">

							<span id="change_btn_save">
								<button type="button" onclick="save_product()" class="btn btn-rounded btn-primary"> <i class="fa fa-check"></i> Save</button>
							</span>
							<button type="button" class="btn btn-rounded btn-danger">Cancel</button>
						</div>
					</form>
				  </div>
				</div>
			  </div>
		  </div>

		</section>
		<!-- /.content -->


<script>




function save_product(){
	console.log('saving')
	document.getElementById('change_btn_save').innerHTML = `<button type="button" class="btn btn-rounded btn-warning"> <i class="fa fa-check"></i> Saving</button>`;


	let subcat1_id_lst = []

	$.each($("input[name='subcat1_name']:checked"), function(){
			console.log($(this).val());
			var single_subcat1 = $(this).val();
			subcat1_id_lst.push(single_subcat1);
		});
	console.log(subcat1_id_lst)


	let subcat2_id_lst = []

	$.each($("input[name='subcat2_name']:checked"), function(){
			console.log($(this).val());
			var single_subcat2 = $(this).val();
			subcat2_id_lst.push(single_subcat2);
		});
	console.log(subcat2_id_lst)

	$('#suncat1').val(JSON.stringify(subcat1_id_lst));
	$('#suncat2').val(JSON.stringify(subcat2_id_lst));

	document.getElementById('change_btn_save').innerHTML = `<button type="submit" id="prd_save_id" class="btn btn-rounded btn-primary"> <i class="fa fa-check"></i> Save</button>`;
	$('#prd_save_id').trigger('click');


	document.getElementById('change_btn_save').innerHTML = `<button type="button" onclick="save_product()" class="btn btn-rounded btn-primary"> <i class="fa fa-check"></i> Save</button>`;
}




function select_cat(){
	console.log('hi')
	var cat_value = document.getElementById('Category_list').value;
	console.log('cat_value')
	console.log(cat_value)

	$.ajax({
			url : '{% url 'get_sub_cat' %}',
			type : 'POST',
			data : {cat_value:cat_value}
		})

		.done(function(response){
			console.log(response);
			var prod = JSON.parse(response);
			console.log(prod)
			console.log('prod')

			var len = prod.length;
			var strss = "";
			var strss2 = "";

			var subc1_ch = 0;


			strss = strss + `<div class="form-group">
								<label class="form-label">Subcategory 1</label>
								<select name="Subategory_list" id="Subategory_list" class="form-control form-control form-control-lg" onchange="select_sub()" >
								<option selected="selected" value="None">Subcategory 1</option>`;

			strss2 = strss2 + `<hr><label class="form-label"><b>Subcategory 1</b></label><div class="row">`;

			for(var i=0;i<len;i++){
				subc1_ch = 1;

				var Subcategory_id = JSON.stringify(prod[i].pk);
				var Subcategory_1_3 = JSON.stringify(prod[i].fields.Subcategory_1);

				var Subcategory_1_2 = Subcategory_1_3.slice(0, -1)
				var Subcategory_1 = Subcategory_1_2.slice(1);

				strss=strss+`<option value="${Subcategory_id}"> ${Subcategory_1}</option>`

				strss2 = strss2 + `<div class="form-check col-md-2 col-lg-2 col-sm-12">
									  <input class="form-check-input" type="checkbox" name="subcat1_name" id="subcat1_id${Subcategory_id}" value="${Subcategory_id}">
									  <label class="form-check-label" for="subcat1_id${Subcategory_id}"><small>${Subcategory_1}</small></label>
									</div>`
			}
			var strss = strss + `</select></div><div id="show_sub_cat2"></div>`;

			if(subc1_ch == 1){
				strss2 = strss2 + `</div> <button type="button" class="btn btn-warning btn-sm mt-4" onclick="subcat2_search()">Next</button>`;

				document.getElementById('show_Subategory_list2').innerHTML=strss2;

				document.getElementById('show_Subategory_list3').innerHTML=`<b>Select Subcategory 1 First and press next</b>`;
			}

			else{
				document.getElementById('show_Subategory_list2').innerHTML=`<b>No SubCategory 1 to show</b>`;

				document.getElementById('show_Subategory_list3').innerHTML="";
			}


		})
}


function subcat2_search(){
	console.log('clicked')

	var strss3 = "";
	var strss3 = strss3 + `<hr><label class="form-label"><b>Subcategory 2</b></label><div class="row">`;

	var ch_subc2 = 0;

	$.each($("input[name='subcat1_name']:checked"), function(){
		console.log('check1')
		console.log($(this).val());
		var subcat_value = $(this).val();

		$.ajax({
			url : '{% url 'get_sub_cat2' %}',
			type : 'POST',
			data : {subcat_value:subcat_value}
		})

		.done(function(response){
			console.log(response);
			var prod = JSON.parse(response);
			console.log(prod)
			console.log('prod')

			var len = prod.length;

			for(var i=0;i<len;i++){
				ch_subc2 = 1;
				var Subcategory2_id = JSON.stringify(prod[i].pk);
				var Subcategory_2_3 = JSON.stringify(prod[i].fields.Subcategory_2);

				var Subcategory_2_2 = Subcategory_2_3.slice(0, -1)
				var Subcategory_2 = Subcategory_2_2.slice(1);

				console.log(Subcategory_2)

				strss3 = strss3 + `<div class="form-check col-md-2 col-lg-2 col-sm-12">
									  <input class="form-check-input" type="checkbox" name="subcat2_name" id="subcat2_id${Subcategory2_id}" value="${Subcategory2_id}">
									  <label class="form-check-label" for="subcat2_id${Subcategory2_id}"><small>${Subcategory_2}</small></label>
									</div>`
			}
			strss3 = strss3 + `</div>`;

			if(ch_subc2==1){
				document.getElementById('show_Subategory_list3').innerHTML=strss3;
			}
			else{
				document.getElementById('show_Subategory_list3').innerHTML=`<b>No Subcategory 2 in those Subcategory 1</b>`;
			}
		})
	});
}


function select_sub(){
	console.log('okkokokok')
	var subcat_value = document.getElementById('Subategory_list').value;
	console.log('subcat_value')
	console.log(subcat_value)

	$.ajax({
			url : '{% url 'get_sub_cat2' %}',
			type : 'POST',
			data : {subcat_value:subcat_value}
		})

		.done(function(response){
			console.log(response);
			var prod = JSON.parse(response);
			console.log(prod)
			console.log('prod')

			var len = prod.length;
			var strss2 = "";

			var strss2 = strss2 + `<div class="form-group">
								<label class="form-label">Subcategory 2</label>
								<select name="Subategory_list2" id="Subategory_list2" class="form-control form-control form-control-lg">
								<option selected="selected" value="None">Subcategory 2</option>`;

			for(var i=0;i<len;i++){
				var Subcategory2_id = JSON.stringify(prod[i].pk);
				var Subcategory_2 = JSON.stringify(prod[i].fields.Subcategory_2);

				strss2=strss2+`<option value="${Subcategory2_id}"> ${Subcategory_2}</option>`
			}
			var strss2 = strss2 + `</select></div>`;

			document.getElementById('show_sub_cat2').innerHTML=strss2;
		})
}


</script>


{% endblock %}
