{% load static %}

{% load el_pagination_tags %}
{% lazy_paginate 12 filter_all_cats %}


{% for cat in filter_all_cats %}


{% if cat.filter_product_by_cat %}

<div class="wide-banners wow fadeInUp outer-bottom-bs">
    <div class="row">

      <div class="col-md-12">
        <div class="cnt-strip">
          <div class="image1">
            <div class="home-cat-banners">
              <img class="img-responsive" src="/media/{{cat.Category_benner}}" alt="{{cat.Category_Name}}"> 
            </div>
            </div>
          <div class="strip strip-text">
            <div class="strip-inner">
              <h2 class="text-right">{% if cat.Category_title %}{{ cat.Category_title }}{% endif %}<br>
                <span class="shopping-needs">{% if cat.Category_discription %}{{cat.Category_discription}}{% endif %} <a class="btn btn-primary cart-btn" href="{% url 'category_products' cat.id %}">View All</a></span></h2>
            </div>
          </div>

          <!-- /.new-label -->
        </div>
        <!-- /.wide-banner -->
      </div>
      <!-- /.col -->


    </div>
    <!-- /.row -->
  </div>

  <section class="section wow fadeInUp new-arriavls">
    <h3 class="section-title">{{cat.Category_Name}}</h3>
    <div class="owl-carousel home-owl-carousel custom-carousel owl-theme outer-top-xs">

      {% for cat_Prod in cat.filter_product_by_cat %}
      <div class="item item-carousel">
        <div class="products">
          <div class="product">
            <div class="product-image">
              <div class="image">
                    <a href="{% url 'product_details' cat_Prod.slug %}">
                       <img src="{{cat_Prod.Product_Image}}" alt="{{cat_Prod.Product_Name}}">
                        <img src="{{cat_Prod.Product_Image}}" alt="{{cat_Prod.Product_Name}}" class="hover-image">
                    </a>

                    </div>
              <!-- /.image -->

              <div class="tag new"><span>{{cat_Prod.Discount_Percentage}}%</span></div>
            </div>
            <!-- /.product-image -->

            <div class="product-info text-left">
              <h3 class="name"><a href="{% url 'product_details' cat_Prod.slug %}">{{cat_Prod.Product_Name}}</a></h3>
              {% if cat_Prod.count_rattings == 0 %}
            <i class="fa fa-star-o" style="color:#D39C08;" aria-hidden="true"></i>
            <i class="fa fa-star-o" style="color:#D39C08;" aria-hidden="true"></i>
            <i class="fa fa-star-o" style="color:#D39C08;" aria-hidden="true"></i>
            <i class="fa fa-star-o" style="color:#D39C08;" aria-hidden="true"></i>
            <i class="fa fa-star-o" style="color:#D39C08;" aria-hidden="true"></i>
            {% endif %}

            {% if cat_Prod.count_rattings == 0.5 %}
            <i class="fa fa-star-half-o" style="color:#D39C08;" aria-hidden="true"></i>
            <i class="fa fa-star-o" style="color:#D39C08;" aria-hidden="true"></i>
            <i class="fa fa-star-o" style="color:#D39C08;" aria-hidden="true"></i>
            <i class="fa fa-star-o" style="color:#D39C08;" aria-hidden="true"></i>
            <i class="fa fa-star-o" style="color:#D39C08;" aria-hidden="true"></i>
            {% endif %}

            {% if cat_Prod.count_rattings == 1 %}
            <i class="fa fa-star" style="color:#D39C08;" aria-hidden="true"></i>
            <i class="fa fa-star-o" style="color:#D39C08;" aria-hidden="true"></i>
            <i class="fa fa-star-o" style="color:#D39C08;" aria-hidden="true"></i>
            <i class="fa fa-star-o" style="color:#D39C08;" aria-hidden="true"></i>
            <i class="fa fa-star-o" style="color:#D39C08;" aria-hidden="true"></i>
            {% endif %}

            {% if cat_Prod.count_rattings == 1.5 %}
            <i class="fa fa-star" style="color:#D39C08;" aria-hidden="true"></i>
            <i class="fa fa-star-half-o" style="color:#D39C08;" aria-hidden="true"></i>
            <i class="fa fa-star-o" style="color:#D39C08;" aria-hidden="true"></i>
            <i class="fa fa-star-o" style="color:#D39C08;" aria-hidden="true"></i>
            <i class="fa fa-star-o" style="color:#D39C08;" aria-hidden="true"></i>
            {% endif %}

            {% if cat_Prod.count_rattings == 2 %}
            <i class="fa fa-star" style="color:#D39C08;" aria-hidden="true"></i>
            <i class="fa fa-star" style="color:#D39C08;" aria-hidden="true"></i>
            <i class="fa fa-star-o" style="color:#D39C08;" aria-hidden="true"></i>
            <i class="fa fa-star-o" style="color:#D39C08;" aria-hidden="true"></i>
            <i class="fa fa-star-o" style="color:#D39C08;" aria-hidden="true"></i>
            {% endif %}

            {% if cat_Prod.count_rattings == 2.5 %}
            <i class="fa fa-star" style="color:#D39C08;" aria-hidden="true"></i>
            <i class="fa fa-star" style="color:#D39C08;" aria-hidden="true"></i>
            <i class="fa fa-star-half-o" style="color:#D39C08;" aria-hidden="true"></i>
            <i class="fa fa-star-o" style="color:#D39C08;" aria-hidden="true"></i>
            <i class="fa fa-star-o" style="color:#D39C08;" aria-hidden="true"></i>
            {% endif %}

            {% if cat_Prod.count_rattings == 3 %}
            <i class="fa fa-star" style="color:#D39C08;" aria-hidden="true"></i>
            <i class="fa fa-star" style="color:#D39C08;" aria-hidden="true"></i>
            <i class="fa fa-star" style="color:#D39C08;" aria-hidden="true"></i>
            <i class="fa fa-star-o" style="color:#D39C08;" aria-hidden="true"></i>
            <i class="fa fa-star-o" style="color:#D39C08;" aria-hidden="true"></i>
            {% endif %}

            {% if cat_Prod.count_rattings == 3.5 %}
            <i class="fa fa-star" style="color:#D39C08;" aria-hidden="true"></i>
            <i class="fa fa-star" style="color:#D39C08;" aria-hidden="true"></i>
            <i class="fa fa-star" style="color:#D39C08;" aria-hidden="true"></i>
            <i class="fa fa-star-half-o" style="color:#D39C08;" aria-hidden="true"></i>
            <i class="fa fa-star-o" style="color:#D39C08;" aria-hidden="true"></i>
            {% endif %}

            {% if cat_Prod.count_rattings == 4 %}
            <i class="fa fa-star" style="color:#D39C08;" aria-hidden="true"></i>
            <i class="fa fa-star" style="color:#D39C08;" aria-hidden="true"></i>
            <i class="fa fa-star" style="color:#D39C08;" aria-hidden="true"></i>
            <i class="fa fa-star" style="color:#D39C08;" aria-hidden="true"></i>
            <i class="fa fa-star-o" style="color:#D39C08;" aria-hidden="true"></i>
            {% endif %}

            {% if cat_Prod.count_rattings == 4.5 %}
            <i class="fa fa-star" style="color:#D39C08;" aria-hidden="true"></i>
            <i class="fa fa-star" style="color:#D39C08;" aria-hidden="true"></i>
            <i class="fa fa-star" style="color:#D39C08;" aria-hidden="true"></i>
            <i class="fa fa-star" style="color:#D39C08;" aria-hidden="true"></i>
            <i class="fa fa-star-half-o" style="color:#D39C08;" aria-hidden="true"></i>
            {% endif %}

            {% if cat_Prod.count_rattings == 5 %}
            <i class="fa fa-star" style="color:#D39C08;" aria-hidden="true"></i>
            <i class="fa fa-star" style="color:#D39C08;" aria-hidden="true"></i>
            <i class="fa fa-star" style="color:#D39C08;" aria-hidden="true"></i>
            <i class="fa fa-star" style="color:#D39C08;" aria-hidden="true"></i>
            <i class="fa fa-star" style="color:#D39C08;" aria-hidden="true"></i>
            {% endif %}
              <div class="description"></div>

              <div class="product-price">

                {% if cat_Prod.TYPE_OF_PRODUCTS == 'Simple Product' %}
                  <span class="price"> ${% if cat_Prod.Discount_Price %}{{cat_Prod.Discount_Price}}{% else %}{{cat_Prod.MRP_Price}}{% endif %} </span>
                  <span class="price-before-discount">{% if cat_Prod.Discount_Price %}$ {{cat_Prod.MRP_Price}}{% endif %}</span>
                {% else %}

                {% for i in cat_Prod.first_attr_low_cost_prod %}
                <span class="price"> ৳<span id="reg_product_price{{cat_Prod.slug}}">{% if i.Discount_Price %}{{i.Discount_Price}}{% else %}{{i.MRP_Price}}{% endif %}</span> </span>
                <span class="price-before-discount">{% if i.Discount_Price %}৳ {{i.MRP_Price}}{% endif %}</span>

                {% endfor %}
                {% endif %}


              </div>

              <!-- /.product-price -->

            </div>
            <!-- /.product-info -->
            <!--<div class="cart clearfix animate-effect">-->
            <!--  <div class="action">-->
            <!--    <ul class="list-unstyled">-->
            <!--      <li class="add-cart-button btn-group">-->
            <!--        <button class="btn btn-primary icon" data-toggle="dropdown" type="button"> <i class="fa fa-shopping-cart"></i> </button>-->
            <!--        <button class="btn btn-primary cart-btn" type="button">Add to cart</button>-->
            <!--      </li>-->
            <!--      <li class="lnk wishlist"> <a class="add-to-cart" href="detail.html" title="Wishlist"> <i class="icon fa fa-heart"></i> </a> </li>-->

            <!--    </ul>-->
            <!--  </div>-->
              <!-- /.action -->
            <!--</div>-->
            <!-- /.cart -->
          </div>
          <!-- /.product -->

        </div>
        <!-- /.products -->
      </div>
      <!-- /.item -->
      {% endfor %}

      <!-- /.item -->
    </div>
    <!-- /.home-owl-carousel -->
  </section>

  {% endif %}

  {% endfor %}



    {% show_more "More results" %}
